/* Here we can add anything we want to suit our project. */

.jumbotron{
	padding: 30px;
}

.container{
	padding-top:100px; /* A quick hack to stop stuff from disappearing below fixed navbar: Change this if it's not suitable for your project. */
}
textarea{
	height:140px;
}
form{
	max-width:400px; /* A quick hack to stop forms from being waaaayyy tooo wide. Remove if you don't like. */
}
.blog-entry
{
	border:1px solid #ededed;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.blog-entry h3
{
	display: inline;
}
.blog-date
{
	font-style: italic;
	height: 50px;
	float:right;
}
